* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  background-color: #34495e;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 20px 75px;
  color: #219e7b;
}

.table {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: #23a484;
  border: 10px solid #48cfad;
  border-radius: 160px;
  margin: 10px auto 50px auto;
}

.container {
  width: 500px;
  padding: 15px;
  margin: auto;
}

.raiseInput, .actionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.raiseInput p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 15px;
}

.raiseInput input {
  font-family: 'Open Sans', sans-serif;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* PLAYERS styling */

.player {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
}

.userArea {
  position: absolute;
  width: 120px;
  height: 80px;
  background-image: url("./img/cardsOnTable.png");
  background-position: center;
  background-repeat: no-repeat;
  /*background-color: white;*/
}

.user1 {
  top: 120px;
  left: -100px;
}

.user1 .userArea {
  top: 0;
  right: -180px;
}

.user2 {
  top: 320px;
  left: 60px;
}

.user2 .userArea {
  top: -100px;
  right: -110px;
}

.user3 {
  top: 320px;
  right: 60px;
}

.user3 .userArea {
  top: -100px;
  left: -110px;
}

.user4 {
  top: 120px;
  right: -100px;
}

.user4 .userArea {
  top: 0;
  left: -180px;
}

.user5 {
  top: -100px;
  right: 60px;
}

.user5 .userArea {
  bottom: -130px;
  left: -110px;
}

.user6 {
  top: -100px;
  left: 60px;
}

.user6 .userArea {
  bottom: -130px;
  right: -110px;
}

.chips {
  position: absolute;
  left: -2px;
  bottom: -23px;
  width: 50px;
  height: 20px;
  color: #a1a1a1;
  font-size: 12px;
  background-color: white;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.avatarImg {
  background-color: white;
  width: 35px;
  height: 35px;
  border: 5px solid #50677e;
  border-radius: 30px;
}

/* CENTER CARDS styling */

.centerCards {
  position: absolute;
  top: 120px;
  left: 130px;
  width: 240px;
  height: 80px;
  background-color: grey;
}


/* BUTTONS styling */

.gameButton {
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

.buyInButton {
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #219e7b;
  border: 1px solid #219e7b;
  margin-left: 75px;
}

.callButton {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #219e7b;
  border: 1px solid #219e7b;
  margin-right: 15px;
}

.raiseButton {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffce54;
  border: 1px solid #ffce54;
  color: black;
}

.foldButton {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #fc6e51;
  border: 1px solid #fc6e51;
  margin-left: 15px;
}

/* DEALER styling */

.dealerPar {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 20px;
  height: 20px;
  color: black;
  font-size: 12px;
  background-color: #ffce54;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bigBlindPar {

}

.smallBlindPar {

}

/* FOLDED state styling */

.foldedPar {
  position: absolute;
  top: -28px;
  left: -17px;
  width: 80px;
  height: 20px;
  color: black;
  font-size: 12px;
  background-color: #fc6e51;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.folded img {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

.folded .userArea {
  background-image: url("./img/folded.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* RAISED state styling */

.raisedPar {
  position: absolute;
  top: -28px;
  left: -17px;
  width: 80px;
  height: 20px;
  color: black;
  font-size: 12px;
  background-color: #219e7b;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* ONTURN state styling */

.onTurn img {
  border: 5px solid #ffce54;
}

/* ACTIVE USER styling */

.activeUser .userArea {
  background-image: none;
}
