/* CENTER CARDS styling */

.centerCards {
  position: absolute;
  top: 110px;
  left: 120px;
  width: 260px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: grey;*/
}

.centerCard1, .centerCard2, .centerCard3, .centerCard4, .centerCard5 {
  width: 48px;
  height: 71px;
  border-radius: 5px;
}

.pot {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  top: -20px;
  left: 100px;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 gold, 0 1px black,
      1px 0 gold, 0 -1px black;
}
