/* CENTER CARDS styling */

.centerCards {
  position: absolute;
  top: 110px;
  left: 120px;
  width: 260px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: grey;*/
}

.centerCard1, .centerCard2, .centerCard3, .centerCard4, .centerCard5 {
  width: 48px;
  height: 71px;
  border-radius: 5px;
}
