.dialog {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 300px;
  height: auto;
  background-color: #f2f2f2;
  border: none;
  border-radius: 3px;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  text-shadow: rgb(21, 70, 130) 0 1px 0;
  font-family:sans-serif;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  background-color: #219e7b;
  color: white;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-shadow: rgb(21, 70, 130) 0 1px 0;
}

.component {
  padding-left: 0;
  color: #999999;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}