* {
  padding: 0;
  margin: 0;
}

section {
  min-height: 100%;
  background-color: #34495e;
  display: flex;
  flex-direction: column;
}

.container {
  width: 500px;
  padding: 15px;
  margin: auto;
}

.raiseInput, .actionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.raiseInput p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 15px;
}

.raiseInput input {
  font-family: 'Open Sans', sans-serif;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* BUTTONS styling */

.callButton {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #219e7b;
  border: 1px solid #219e7b;
  margin-right: 15px;
}

.raiseButton {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffce54;
  border: 1px solid #ffce54;
  color: black;
}

.foldButton {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #fc6e51;
  border: 1px solid #fc6e51;
  margin-left: 15px;
}
