* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-image: url("landing_bgr.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: 100px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  background-color: #219e7b;
  color: white;
  border-radius: 3px;
  border: 1px solid #219e7b;
  cursor: pointer;
  text-decoration: none;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

.Dash {
  display: flex;
}

.componentTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 20px 75px;
  color: #219e7b;
  border-bottom: 1px solid #219e7b;
}

/* HEADER and NAV styling: */

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
  color: #219e7b;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  margin: 0 0 0 80px;
}

.signupButton {
  position: absolute;
  right: 110px;
  top: 15px;
}

/* Intro component: */

.introTitle, .introPar{
  width: 700px;
  margin-left: 80px;
  margin-top: 30px;
}

.introTitle p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 800;
  font-style: italic;
  text-align: justify;
}

.introTitle1 {
  font-size: 128px;
  line-height: 128px;
}

.introTitle2 {
  font-size: 90px;
  line-height: 72px;
}

.introPar p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 24px;
  line-height: 36px;
}

/* Login component: */

.Login {
  position: absolute;
  top: 70px;
  right: 50px;
  width: 300px;
  height: 250px;
  margin: 30px;
  background-color: #f2f2f2;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
}

.loginTitle {
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  background-color: #219e7b;
  color: white;
  width: 270px;
  height: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

input {
  width: 210px;
  height: 35px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 30px;
  border: 1px solid #e6e6e6;
  background-color: #f0eef0;
  color: #cbcbcb;
}

.userEmail {
  background-image: url("user.png");
  background-attachment: local;
  background-position: right;
  background-repeat: no-repeat;
}

.password {
  background-image: url("lock.png");
  background-attachment: local;
  background-position: right;
  background-repeat: no-repeat;
}

.loginFooter p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #999999;
  margin-left: 30px;
}

.loginButton {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

/* Dashboard component*/

.dashboard {
  min-height: 1000px;
  background-color: #34495e;
  display: flex;
}

/* Tables component*/

.tables {
  border-collapse: collapse;
  text-align: left;
  width: 700px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin-left: 75px;
}

.tables td, .tables th {
  padding: 3px 10px;
}

.tables thead th {
  color:#FFFFFF;
  border-bottom: 2px solid #219e7b;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
}

.tables tbody td {
  color: #219e7b;
  border-bottom: 1px solid #219e7b;
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
}

.tables tbody .alt td {
  color: #219e7b;
}

/* leaderboard component*/

.leaderboard {
  position: absolute;
  top: 60px;
  right: 50px;
  width: 450px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow: hidden;
  margin-left: 75px;
}

.leader {
  margin-left: 75px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: flex-start;
}

.leaderboard img {
  margin-right: 15px;
  border: 5px solid #50677e;
  border-radius: 30px;
}
.chips {
  background-color: #219e7b;
  color: white;
  border-radius: 15px;
  margin-top:5px;
  padding: 2px 10px;
}
