* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-image: url("landing_bgr.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: 100px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  background-color: #219e7b;
  color: white;
  border-radius: 3px;
  border: 1px solid #219e7b;
  cursor: pointer;
  text-decoration: none;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

/* HEADER PART */

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
  color: #219e7b;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  margin: 0 0 0 80px;
}

.signupButton {
  position: absolute;
  right: 110px;
  top: 15px;
}

/* Intro component */

.introTitle, .introPar{
  width: 450px;
  margin-left: 80px;
  margin-top: 30px;
}

.introTitle p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 800;
  font-style: italic;
  text-align: justify;
}

.introTitle1 {
  font-size: 84px;
  line-height: 84px;
}

.introTitle2 {
  font-size: 58px;
  line-height: 50px;
}

.introPar p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 18px;
  line-height: 32px;
}

/* Login component */

.Login {
  position: absolute;
  top: 70px;
  right: 50px;
  width: 300px;
  height: 250px;
  margin: 30px;
  background-color: #f2f2f2;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
}

.loginTitle {
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  background-color: #219e7b;
  color: white;
  width: 270px;
  height: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

input {
  width: 240px;
  height: 35px;
  margin-left: 30px;
}

.loginFooter p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #999999;
  margin-left: 30px;
}

.loginButton {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

/* SingUp component */

.signUp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 300px;
  height: 350px;
  background-color: #f2f2f2;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
}

.signUpTitle {
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  background-color: #219e7b;
  color: white;
  width: 270px;
  height: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

input {
  width: 240px;
  height: 35px;
  margin-left: 30px;
}

.signUpLabels {
  font-family: 'Open Sans', sans-serif;
  font-style: oblique;
  color: #219e7b;
  margin-left: 30px;
}

.signUpFooter {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #999999;
  margin-left: 30px;
}

.signUpButton {
  position: absolute;
  right: 30px;
  bottom: 20px;
}